# Business Understanding
## Overview of the business
A company that is seeking to expand into the aviation industry and wants buy aircrafts for its new division

## Business Problem

Being new in the aviation industry the company is unaware of the potential risks that are associated with aircrafts 

## Business Objectives
The company wants to understand the potential risks it may face in the aviation industry
The company wants to obtain a list of recommended aircrafts that are considered to have low risks in regards to its operational use

## Success Criteria
To obtain a list of aircrafts that are considered to have low risks

To outline the potential risks the company may experience in the aviation industry

To produce relevant visualisations that provide insights on aircraft and the aviation industry

## Project plan

To go through a dataset that contains accidents that have occurred in the aviation industry and to obtain relevant insights that can be able to solve the business problem

# Familization with the dataset

In [50]:
# Importing the pandas and matplotlib libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
from geopy.geocoders import Nominatim
%matplotlib inline

In [51]:
pd.options.display.max_columns = None

Loading the dataset to be used

In [52]:
aviation_data_df = pd.read_csv("data/AviationData.csv", encoding='latin-1', dtype='str')

In [53]:
usstate_codes_df = pd.read_csv("data/USState_Codes.csv")

Checking the head, tail and a sample of the dataset so to get an understanding of the dataset we are working with

In [54]:
aviation_data_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1,2,NaN,0,VMC,Approach,Probable Cause,16-04-1980

In [55]:
aviation_data_df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N1867H,PIPER,PA-28-151,No,NaN,NaN,091,NaN,Personal,NaN,0,1,0,0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1,NaN,091,NaN,Personal,NaN,0,0,0,1,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N210CU,CESSNA,210N,No,NaN,NaN,091,NaN,Personal,MC CESSNA 210N LLC,0,0,0,0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N9026P,PIPER,PA-24-260,No,NaN,NaN,091,NaN,Personal,NaN,0,1,0,1,NaN,NaN,NaN,30-12-2022

In [56]:
aviation_data_df.sample(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
74939,20140414X14114,Accident,WPR14FA167,2014-04-13,"Reno, NV",United States,039405N,0119523W,RTS,RENO/STEAD,Fatal,Substantial,Helicopter,N78CS,SANDS,HELICYCLE,Yes,1,Turbo Shaft,091,NaN,Personal,NaN,1,0,0,0,VMC,NaN,The pilots failure to maintain control of the...,25-09-2020
6153,20001214X44389,Accident,ANC83LA162,1983-09-04,"SKWENTNA, AK",United States,NaN,NaN,SKW,SKWETNA,Non-Fatal,Substantial,NaN,N4097Z,Piper,PA-18-150,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,1,0,VMC,Approach,Probable Cause,NaN
25063,20001212X22774,Accident,MIA90LA093,1990-03-14,"MIMS, FL",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N66949,Cessna,152,No,1,Reciprocating,NaN,NaN,Instructional,NaN,0,0,0,1,VMC,Maneuvering,Probable Cause,21-09-1992
24263,20001213X29551,Accident,CHI90DEM01,1989-10-13,"GRAYLING, MI",United States,NaN,NaN,55D,GRAYLING AAF,Fatal(1),Destroyed,NaN,N3905U,Cessna,150E,No,1,Reciprocating,NaN,NaN,Personal,NaN,1,0,0,0,VMC,Takeoff,Probable Cause,22-07-1992
48156,20001212X20832,Accident,IAD00TA040,2000-04-11,"CLEVELAND, OH",United States,NaN,NaN,CLE,CLEVELAND-HOPKINS,Non-Fatal,Substantial,NaN,N6183T,Cessna,182RG,No,1,Reciprocating,NaN,NaN,Public Aircraft,NaN,0,0,0,2,IMC,Cruise,Probable Cause,18-12-2001
52206,20020308X00321,Accident,ATL02FA058,2002-03-03,"Mexia, TX",United States,31.619167,-96.502778,LXY,Limestone County,Fatal(1),Destroyed,NaN,N7272D,Beech,BE-60,No,2,Reciprocating,NaN,NaN,Personal,NaN,1,NaN,NaN,NaN,VMC,Takeoff,Probable Cause,01-09-2004
82425,20181009X31826,Accident,GAA19CA010,2018-10-08,"Crowley, LA",United States,030318N,0921445W,PVT,Private,Non-Fatal,Substantial,Airplane,N1500E,Air Tractor,AT 402,No,1,Turbo Prop,137,NaN,Aerial Application,Leleuxs Flying Service Inc.,0,0,0,1,VMC,NaN,The pilot's selection of unsuitable terrain fo...,25-09-2020
57711,20041029X01725,Accident,ATL05FA008,2004-10-23,"FLAT ROCK, NC",United States,35.315556,-82.353056,0A7,HENDERSONVILLE,Fatal(1),Substantial,NaN,N18303,Beech,F33A,No,1,Reciprocating,NaN,NaN,Personal,NaN,1,NaN,NaN,NaN,IMC,Takeoff,Probable Cause,31-01-2006
43742,20001211X09892,Accident,LAX98LA139,1998-04-20,"GRAND CANYON, AZ",United States,NaN,NaN,KGCN,GRAND CANYON AIRPORT,Non-Fatal,Substantial,NaN,N8533F,Bell,206B,No,1,Turbo Shaft,NaN,NaN,Instructional,NaN,0,0,0,2,VMC,Landing,Probable Cause,03-08-1999
73503,20130508X01807,Accident,ERA13CA231,2013-05-04,"Arcadia, NY",United States,043739N,0077247W,NONE,Private Strip,Non-Fatal,Substantial,Airplane,N2143R,CESSNA,182G,No,1,Reciprocating,091,NaN,Personal,Earl Martin,0,0,0,3,VMC,NaN,The pilot's improper decision to continue a hi...,25-09-2020

In [57]:
aviation_data_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [58]:
aviation_data_df.shape

(88889, 31)

In [59]:
len(aviation_data_df.columns)

31

In [60]:
usstate_codes_df.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [61]:
usstate_codes_df.tail()

          US_State Abbreviation
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO
61   Pacific ocean           PO

In [62]:
usstate_codes_df.shape

(62, 2)

In [63]:
usstate_codes_df.columns

Index(['US_State', 'Abbreviation'], dtype='object')

# DATA UNDERSTANDING



The data folder contains two data sets

## Aviation dataset
This dataset contains data of reported aviation accidents and information regarding the accident reported.

The dataset contains 31 columns with each column containing information on the accident reported.

Some of the columns in the dataset include:date of the accident, the severity of the accident, country where the accident occurred, aircraft damage, aircraft type and model etc

The dataset contains 88889 records

## US State Codes dataset
This dataset contains information on the full name of abbreviated us state codes

The dataset contains two columns i.e the US state and its abbrevaiation

The dataset contains 62 records

# Data cleaning

## Aviation Dataset

In [64]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  object
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  object
 24  Total.Serious.Injuries  76379 non-null  object
 25  Total.Minor.Injuries    76956 non-null  object
 26  Total.Uninjured         82977 non-null  object
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: object(31)
memory usage: 21.0+ MB

Using pd.info we can observe the following

a) every column contain string values

b)They are columns with null values

c)Columns names contain different structures and need to be standardized

### Converting column names to a simple standardized form

a)column names to be converted to lower case

b)column names to be seperated by underscore

In [65]:
#converting the columns into lower case
aviation_data_df.columns=aviation_data_df.columns.str.lower()

In [66]:
#seperating column names with an underscore rather than with a period

aviation_data_df.columns=aviation_data_df.columns.str.replace('.','_')

aviation_data_df.columns

Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

In [67]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1,2,NaN,0,VMC,Approach,Probable Cause,16-04-1980

### Converting columns that contain string values to respective dtypes

This columns were all converted to string values while reading the csv so to clear error generated.Therefore we need to go through each column and with intuition convert some of the columns back to their original data type

In [68]:
aviation_data_df.sample(10)

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
11806,20001214X36483,Accident,FTW85LA241,1985-05-31,"FORT WORTH, TX",United States,NaN,NaN,17TA,HELIDYNE,Non-Fatal,Substantial,NaN,N1072Y,Bell,206-B,No,1,Turbo Shaft,NaN,NaN,Unknown,NaN,0,0,1,0,VMC,Takeoff,Probable Cause,NaN
67690,20100204X74536,Incident,ENG10RA014,2010-02-03,"Bangkok, Thailand, Thailand",Thailand,NaN,NaN,BKK,Suvarnabhumi International,NaN,Minor,Airplane,HS-TGB,BOEING,747,No,4,NaN,NUSC,SCHD,NaN,Thai Airways,0,0,0,0,NaN,NaN,NaN,NaN
10056,20001214X41275,Accident,ATL85LA012,1984-10-14,"WIRTZ, VA",United States,NaN,NaN,NaN,BOWMAN FIELD,Non-Fatal,Substantial,NaN,N6348G,Cessna,150,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,2,VMC,Takeoff,Probable Cause,NaN
55214,20030808X01291,Accident,NYC03LA175,2003-07-31,"WHITE POST, VA",United States,39.0625,-78.091389,3VA7,White Post Airport,Non-Fatal,Substantial,NaN,N97168,Stinson,108,No,1,Reciprocating,NaN,NaN,Personal,NaN,NaN,NaN,NaN,1,VMC,Landing,Probable Cause,29-07-2004
819,20020917X01858,Accident,CHI82DA119,1982-04-11,"NOVA, OH",United States,NaN,NaN,NaN,PRIVATE FARM STRIP,Non-Fatal,Substantial,Airplane,N3402Z,Piper,PA-22-160,No,1,Reciprocating,Part 91: General Aviation,NaN,Personal,NaN,0,0,0,1,VMC,Takeoff,Probable Cause,11-04-1983
77188,20150903X93747,Accident,GAA15CA249,2015-08-20,"Tucson, AZ",United States,032649N,1105612W,TUS,TUCSON INTL,Non-Fatal,Substantial,Airplane,N944LB,STINSON,L 5E,No,1,Reciprocating,091,NaN,Personal,DAVIS WESLEY B.,0,0,0,1,VMC,NaN,The pilot's failure to maintain directional co...,25-09-2020
20819,20001213X26262,Accident,LAX88FA252,1988-07-12,"LOMPOC, CA",United States,NaN,NaN,LPC,LOMPOC,Fatal(1),Destroyed,NaN,N27EB,Beech,A35,No,1,Reciprocating,NaN,NaN,Personal,NaN,1,0,0,0,VMC,Takeoff,Probable Cause,09-07-1990
42539,20001208X08732,Accident,NYC97LA169,1997-08-23,"SPENCERPORT, NY",United States,NaN,NaN,NONE,SPENCERPORT,Non-Fatal,Substantial,NaN,N7682H,Piper,PA-12,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,2,VMC,Landing,Probable Cause,26-06-1998
64279,20080415X00482,Accident,DEN08LA071,2008-04-04,"La Porte, TX",United States,294017N,0095425W,T41,La Porte Municipal,Non-Fatal,Substantial,Helicopter,N40289,Hiller,UH-12E,No,1,Reciprocating,091,NaN,Flight Test,Paul Legris,0,1,0,1,VMC,NaN,The loss of tail rotor effectiveness. Contribu...,25-09-2020
83589,20190904X11028,Accident,ANC19LA049,2019-07-17,"Talkeetna, AK",United States,062582N,1504456W,NaN,NaN,Non-Fatal,Substantial,Airplane,N121EE,Cessna,A185,No,NaN,Reciprocating,135,NSCH,NaN,NaN,0,0,0,5,VMC,NaN,A fracture of the right outboard landing gear ...,19-11-2020

#### number_of_engines,total_fatal_injuries,total_minor_injuries,total_serious_injuries and total_uninjured to interger values
Taking a sample of the dataset we can safely deduce that the following columns originally contained interger values

number_of_engines,total_fatal_injuries,total_minor_injuries,total_serious_injuries and total_uninjured

In [69]:
#We first convert the columns above to numeric
aviation_data_df['number_of_engines'] = pd.to_numeric(aviation_data_df['number_of_engines'],errors= 'coerce')
aviation_data_df['total_fatal_injuries'] = pd.to_numeric(aviation_data_df['total_fatal_injuries'], errors = 'coerce')
aviation_data_df['total_serious_injuries'] = pd.to_numeric(aviation_data_df['total_serious_injuries'], errors = 'coerce')
aviation_data_df['total_minor_injuries'] = pd.to_numeric(aviation_data_df['total_minor_injuries'], errors = 'coerce')
aviation_data_df['total_uninjured'] = pd.to_numeric(aviation_data_df['total_uninjured'], errors = 'coerce')

In [70]:

aviation_data_df[['number_of_engines','total_fatal_injuries','total_serious_injuries','total_minor_injuries','total_uninjured']]=aviation_data_df[['number_of_engines','total_fatal_injuries','total_serious_injuries','total_minor_injuries','total_uninjured']].astype('Int32')

In [71]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  object
dtypes: Int32(5), object(26)
memory usage: 19.8+ MB

In [72]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,<NA>,<NA>,<NA>,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,<NA>,NaN,NaN,NaN,Personal,NaN,1,2,<NA>,0,VMC,Approach,Probable Cause,16-04-1980

#### converting event_date and publication_date to pandas.Datetime

In [73]:
#Converting columns that contain dates into pandas.datetime
# that is event_date and publication_date


aviation_data_df['event_date']=pd.to_datetime(aviation_data_df['event_date'],format="%Y-%m-%d" ,yearfirst= True, errors= 'coerce')

In [74]:
aviation_data_df['publication_date']=pd.to_datetime(aviation_data_df['publication_date'],format="%d-%m-%Y", yearfirst= True, errors='coerce')

In [75]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
dtypes: Int32(5), datetime64[ns](2), object(24)
memory usage: 19.8+ MB

In [76]:
aviation_data_df[['event_date','publication_date']].sample(20)

      event_date publication_date
72289 2012-07-29       2020-09-25
78320 2016-05-31       2020-09-25
83150 2019-05-05       2020-11-19
80192 2017-07-06       2020-09-25
15189 1986-07-04              NaT
26914 1990-10-28       1992-11-09
2648  1982-09-04       1983-09-04
57936 2004-12-09       2005-02-24
54754 2003-06-03       2003-11-25
38576 1995-10-26       1996-05-30
2482  1982-08-22       1983-08-22
57436 2004-09-05       2005-01-24
78139 2016-04-25       2020-09-25
26478 1990-08-27       1992-09-28
769   1982-04-05       1983-04-05
77892 2016-02-21       2020-09-25
38956 1996-01-14       1996-05-09
24323 1989-10-22       1992-07-29
73791 2013-06-28       2020-09-25
87855 2022-05-27       2022-06-28

In [77]:
#It might be useful to extract the years and the months of the event_date and publication_date which can be useful when doing visualisations
aviation_data_df['event_year'] = aviation_data_df['event_date'].dt.year
aviation_data_df['event_month'] = aviation_data_df['event_date'].dt.month_name()
aviation_data_df['publication_year'] = aviation_data_df['publication_date'].dt.year
aviation_data_df['publication_month'] = aviation_data_df['publication_date'].dt.month_name()

In [78]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,event_year,event_month,publication_year,publication_month
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaT,1948,October,NaN,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,1996-09-19,1962,July,1996.0,September
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,<NA>,<NA>,<NA>,IMC,Cruise,Probable Cause,2007-02-26,1974,August,2007.0,February
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,2000-09-12,1977,June,2000.0,September
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,<NA>,NaN,NaN,NaN,Personal,NaN,1,2,<NA>,0,VMC,Approach,Probable Cause,1980-04-16,1979,August,1980.0,April

In [79]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
 31  event_year              88889 non-null  int64
 32  event_month             88889 non-null  object
 33  publication_year        75118 non-null  float64
 34  publication_month       75118 non-null  object
dtypes: Int32(5), datetime64[ns](2), float64(1), int64(1), object(26)
memory usage: 22.5+ MB

In [80]:
#due to the null values present in the publication year we need to convert the publication year to interger

aviation_data_df['publication_year'] = aviation_data_df['publication_year'].astype('Int64')

In [81]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
 31  event_year              88889 non-null  int64
 32  event_month             88889 non-null  object
 33  publication_year        75118 non-null  Int64
 34  publication_month       75118 non-null  object
dtypes: Int32(5), Int64(1), datetime64[ns](2), int64(1), object(26)
memory usage: 22.5+ MB

In [82]:
#Let us reorder our new created columns to be closer to their referenced column
column_names=aviation_data_df.columns.to_list()
column_names

['event_id',
 'investigation_type',
 'accident_number',
 'event_date',
 'location',
 'country',
 'latitude',
 'longitude',
 'airport_code',
 'airport_name',
 'injury_severity',
 'aircraft_damage',
 'aircraft_category',
 'registration_number',
 'make',
 'model',
 'amateur_built',
 'number_of_engines',
 'engine_type',
 'far_description',
 'schedule',
 'purpose_of_flight',
 'air_carrier',
 'total_fatal_injuries',
 'total_serious_injuries',
 'total_minor_injuries',
 'total_uninjured',
 'weather_condition',
 'broad_phase_of_flight',
 'report_status',
 'publication_date',
 'event_year',
 'event_month',
 'publication_year',
 'publication_month']

In [83]:
reorderd_columns=['event_id',
 'investigation_type',
 'accident_number',
 'event_date',
 'event_year',
 'event_month',
 'location',
 'country',
 'latitude',
 'longitude',
 'airport_code',
 'airport_name',
 'injury_severity',
 'aircraft_damage',
 'aircraft_category',
 'registration_number',
 'make',
 'model',
 'amateur_built',
 'number_of_engines',
 'engine_type',
 'far_description',
 'schedule',
 'purpose_of_flight',
 'air_carrier',
 'total_fatal_injuries',
 'total_serious_injuries',
 'total_minor_injuries',
 'total_uninjured',
 'weather_condition',
 'broad_phase_of_flight',
 'report_status',
 'publication_date',
 'publication_year',
 'publication_month']

In [84]:
aviation_data_df=aviation_data_df[reorderd_columns]

In [85]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,event_year,event_month,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,publication_year,publication_month
0,20001218X45444,Accident,SEA87LA080,1948-10-24,1948,October,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaT,<NA>,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,1962,July,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,1996-09-19,1996,September
2,20061025X01555,Accident,NYC07LA005,1974-08-30,1974,August,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,<NA>,<NA>,<NA>,IMC,Cruise,Probable Cause,2007-02-26,2007,February
3,20001218X45448,Accident,LAX96LA321,1977-06-19,1977,June,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,2000-09-12,2000,September
4,20041105X01764,Accident,CHI79FA064,1979-08-02,1979,August,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,<NA>,NaN,NaN,NaN,Personal,NaN,1,2,<NA>,0,VMC,Approach,Probable Cause,1980-04-16,1980,April

#### Location,Country,Latitudes and longitude

In [86]:
#Let us check the sum of null values in the latitude and longitude
aviation_data_df.isnull().sum()

event_id                      0
investigation_type            0
accident_number               0
event_date                    0
event_year                    0
event_month                   0
location                     52
country                     226
latitude                  54507
longitude                 54516
airport_code              38640
airport_name              36099
injury_severity            1000
aircraft_damage            3194
aircraft_category         56602
registration_number        1317
make                         63
model                        92
amateur_built               102
number_of_engines          6084
engine_type                7077
far_description           56866
schedule                  76307
purpose_of_flight          6192
air_carrier               72241
total_fatal_injuries      11401
total_serious_injuries    12510
total_minor_injuries      11933
total_uninjured            5912
weather_condition          4492
broad_phase_of_flight     27165
report_status              6381
publication_date          13771
publication_year          13771
publication_month         13771
dtype: int64

In [87]:
aviation_data_df[['location','country','latitude','longitude']].sample(30)

                 location        country   latitude    longitude
15310          CANTON, OH  United States        NaN          NaN
2650      NR. MCGRATH, AK  United States        NaN          NaN
65373           Leroy, OH  United States    414235N     0081729W
29100          SUMNER, MS  United States        NaN          NaN
1936     KENNETH CITY, FL  United States        NaN          NaN
57349           LEROY, MN  United States    43.8875   -92.843055
25664        BELGRADE, MT  United States        NaN          NaN
20944         O'BRIEN, FL  United States        NaN          NaN
18749       GREENWOOD, LA  United States        NaN          NaN
4084      BAKERSFIELD, CA  United States        NaN          NaN
5355          WINSLOW, AZ  United States        NaN          NaN
12588         SEATTLE, WA  United States        NaN          NaN
52922            HITE, UT  United States  37.442222  -110.569723
69784     New Orleans, LA  United States    030232N     0090142W
60097           Bouse, AZ  United States  33.931389  -113.995833
74732           Belen, NM  United States    034402N     0106494W
4159   TRINITY CENTER, CA  United States        NaN          NaN
8107           WINONA, MN  United States        NaN          NaN
55384           Miami, FL  United States  25.793055   -80.290555
16576         CENTRAL, UT  United States        NaN          NaN
40673     COUDERSPORT, PA  United States        NaN          NaN
47058        SEMINOLE, TX  United States        NaN          NaN
83339         Antioch, CA  United States    038239N     1215020W
88267      Evansville, IN  United States    038227N     0873143W
18640    WILLIAMSPORT, PA  United States        NaN          NaN
77311          Moneta, VA  United States    037614N     0793550W
78747      Cardington, OH  United States    402945N     0082548W
82324  Frankfurt, Germany        Germany        NaN          NaN
16927        PRESCOTT, AZ  United States        NaN          NaN
82525    Manavgat, Turkey         Turkey        NaN          NaN

In [88]:
#From the above analysis majority of the latitude and longitude values are null values
#We can generate the longitudes and latitudes of the different locations using values in the location and country columns

aviation_data_df[aviation_data_df['country'].isna()]

,event_id,investigation_type,accident_number,event_date,event_year,event_month,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,publication_year,publication_month
36,20020917X02410,Accident,MIA82FKA05,1982-01-04,1982,January,SAINT CROIX,NaN,NaN,NaN,STX,ALEXANDER HAMILTON,Fatal(1),Destroyed,Airplane,N5151U,Cessna,206,No,1,Reciprocating,Part 91: General Aviation,NaN,Business,NaN,1,0,1,0,VMC,Taxi,Probable Cause,1983-01-04,1983,January
464,20020917X02358,Accident,MIA82DA062,1982-03-02,1982,March,HUMA CAO,NaN,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,Airplane,N2741J,Cessna,150,No,1,Reciprocating,Part 91: General Aviation,NaN,Personal,NaN,1,0,0,0,VMC,Descent,Probable Cause,1983-03-02,1983,March
465,20020917X02026,Accident,FTW82DA076,1982-03-02,1982,March,MUSTANG BLK A11,NaN,NaN,NaN,NaN,NaN,Non-Fatal,NaN,Helicopter,N1080S,Bell,12,No,2,Turbo Shaft,Part 91: General Aviation,NaN,Unknown,NaN,0,1,0,5,VMC,Standing,Probable Cause,1983-03-02,1983,March
725,20020917X02377,Accident,MIA82DA091,1982-03-31,1982,March,MOCA,NaN,NaN,NaN,PR05,LABADIE,Non-Fatal,Substantial,Airplane,N309MJ,Piper,PA-32R,No,1,Reciprocating,Part 91: General Aviation,NaN,Unknown,NaN,0,0,0,1,UNK,Landing,Probable Cause,1983-03-31,1983,March
831,20020917X02069,Accident,FTW82DA127,1982-04-13,1982,April,WEST DELTA 105D,NaN,NaN,NaN,NaN,NaN,Non-Fatal,Destroyed,Helicopter,N41AL,Bell,206B,No,1,Turbo Shaft,Part 91: General Aviation,NaN,Ferry,NaN,0,0,1,0,VMC,Takeoff,Probable Cause,1983-04-13,1983,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52288,20020322X00387,Accident,DCA02MA029,2002-03-22,2002,March,int'l waters,NaN,NaN,NaN,NaN,NaN,Non-Fatal,Minor,NaN,N234NW,Mcdonnell Douglas,DC-10-30,No,3,Turbo Fan,NaN,SCHD,NaN,Northwest Airlines,<NA>,1,4,257,VMC,Descent,Probable Cause,2004-05-18,2004,May
54284,20040528X00699,Accident,DCA03WA031,2003-03-12,2003,March,JOHANNESBURG,NaN,NaN,NaN,NaN,NaN,Unavailable,Substantial,NaN,NaN,Boeing,747-300F,No,<NA>,NaN,NaN,SCHD,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Foreign,2004-05-28,2004,May
56200,20040528X00697,Accident,DCA04WA026,2004-02-10,2004,February,Sharjah Airport,NaN,NaN,NaN,NaN,NaN,Fatal(46),Destroyed,NaN,NaN,Fokker,50,No,<NA>,NaN,NaN,SCHD,NaN,NaN,46,3,<NA>,<NA>,NaN,NaN,Foreign,2004-05-28,2004,May
58803,20050616X00790,Incident,DCA05WA073,2005-06-10,2005,June,Canada/US borde,NaN,NaN,NaN,NaN,NaN,Incident,NaN,NaN,NaN,NaN,NaN,No,<NA>,NaN,NaN,SCHD,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Foreign,2005-06-21,2005,June
62530,20070518X00582,Incident,DCA07WA043,2007-05-13,2007,May,London Control,NaN,NaN,NaN,NaN,NaN,Incident,NaN,NaN,NaN,Boeing,737-800,No,<NA>,NaN,NaN,SCHD,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,Foreign,2007-05-18,2007,May

In [89]:
# The other dataset contains the full abreviations of some of those states
usstate_codes_df

          US_State Abbreviation
0          Alabama           AL
1           Alaska           AK
2          Arizona           AZ
3         Arkansas           AR
4       California           CA
..             ...          ...
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO
61   Pacific ocean           PO

[62 rows x 2 columns]

In [90]:
state_dict= dict(zip(usstate_codes_df['Abbreviation'],usstate_codes_df['US_State']))
state_dict

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming',
 'AS': 'American Samoa',
 'GU': 'Guam',
 'MH': 'Marshall Islands',
 'FM': 'Micronesia',
 'MP': 'Northern Marianas',
 'PW': 'Palau',
 'PR': 'Puerto Rico',
 'VI': 'Virgin Islands',
 'DC': 'Washington_DC',
 'GM': 'Gulf of mexico',
 'AO': 'Atlantic ocean',
 'PO': 'Pacific ocean'}

In [91]:
#Lets replace the abbreviated state names with full names in the location column
aviation_data_df['location'] = aviation_data_df['location'].replace(state_dict,regex=True)

In [92]:
#Lets convert the locations into title cases
aviation_data_df['location'] = aviation_data_df['location'].str.title()
aviation_data_df.sample(20)

,event_id,investigation_type,accident_number,event_date,event_year,event_month,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,publication_year,publication_month
12448,20001214X37235,Accident,MKC85LA170,1985-07-27,1985,July,"Leon, Iowa",United States,NaN,NaN,NaN,MARSHALL WARREN PRIVATE,Non-Fatal,Substantial,NaN,N8089C,Piper,PA-28-181,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,2,VMC,Approach,Probable Cause,NaT,<NA>,NaN
71365,20120218X65637,Accident,ERA12LA184,2012-02-17,2012,February,"Fayetteville, North Carolina",United States,034596N,0785322W,FAY,Fayetteville Regional Airport,Non-Fatal,Substantial,Airplane,N118RZ,MOONEY AIRPLANE CO INC,M20TN,No,1,Reciprocating,091,NaN,Personal,Nitin D. Desai,0,1,1,0,VMC,NaN,The pilots failure to maintain adequate separ...,2020-09-25,2020,September
65202,20080905X01387,Accident,NYC08LA291,2008-08-20,2008,August,"Baltimore, Maryland",United States,039110N,0763936W,BWI,Baltimore/Washington Thurgood,Non-Fatal,Substantial,Airplane,N441VB,CESSNA,441,No,2,Turbo Prop,091,NaN,Business,Avian LLC,0,0,0,4,VMC,NaN,The pilot's delayed decision to abort the take...,2020-09-25,2020,September
84594,20200330X80034,Accident,CEN20WA135,2020-03-15,2020,March,"Tepalcatepec, Michoacan, Mexico",Mexico,019955N,1025029W,NaN,NaN,Fatal,Destroyed,Airplane,XB-VOO,PIPER,PA25,No,<NA>,NaN,NUSC,NaN,NaN,NaN,1,0,0,0,NaN,NaN,NaN,2020-09-26,2020,September
59637,20051108X01802,Accident,MIA06CA009,2005-10-02,2005,October,"Punta Goregonda, Florida",United States,26.922778,-81.995277,KPGD,Charlotte County,Non-Fatal,Substantial,Airplane,N952AC,Cessna,172N,No,1,Reciprocating,Part 91: General Aviation,NaN,Instructional,NaN,<NA>,<NA>,<NA>,1,VMC,Cruise,Probable Cause,2006-01-31,2006,January
8754,20001214X39795,Accident,ANC84LA102,1984-06-24,1984,June,"Bearkansas Creek, Alaska",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N5408Y,Piper,PA-18-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,1,1,VMC,Go-around,Probable Cause,NaT,<NA>,NaN
70567,20110816X84113,Accident,ERA11CA453,2011-08-13,2011,August,"West Liberty, Kentucky",United States,375452N,0083158W,9I3,West Liberty,Non-Fatal,Substantial,Airplane,N5080M,TAYLORCRAFT,BC12-D,No,1,Reciprocating,091,NaN,Personal,STONE JACK S,0,1,0,0,VMC,NaN,The pilot's failure to obtain the proper touch...,2020-09-25,2020,September
9691,20001214X41107,Accident,LAX84FU033,1984-09-07,1984,September,"Lowerlouisianalaskae, California",United States,NaN,NaN,NaN,NaN,Fatal(1),NaN,NaN,NONE,Pioneer,FLIGHTSTAR,Yes,1,Reciprocating,NaN,UNK,Personal,NaN,1,0,0,0,VMC,Maneuvering,Probable Cause,NaT,<NA>,NaN
9837,20001214X41035,Accident,DEN84FU011,1984-09-20,1984,September,"Brhode Islandghton, Colorado",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,NONE,Eipper,QUICKSILVER MX,No,1,Reciprocating,NaN,UNK,Personal,NaN,1,0,0,0,VMC,Maneuvering,Probable Cause,NaT,<NA>,NaN
61176,20060923X01382,Accident,LAX06CA252,2006-08-03,2006,August,"San Anorth Dakotareamerican Samoa, California",United States,38.146111,-120.648055,CPU,Calaveras County,Non-Fatal,Substantial,Airplane,N12626,Cessna,172M,No,1,Reciprocating,Part 91: General Aviation,NaN,Instructional,NaN,<NA>,<NA>,<NA>,3,VMC,Takeoff,Probable Cause,2006-11-29,2006,November
5302,20001214X43795,Accident,LAX83FVM09,1983-07-03,1983,July,"Oceano, California",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N3149K,Twitchell,LONG-EZE,Yes,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,VMC,Unknown,Probable Cause,NaT,<NA>,NaN
55389,20031003X01653,Accident,FTW03LA204,2003-08-25,2003,August,"Wisconsinndianansboregono, Louisiana",United States,32.153056,-91.698333,NaN,NaN,Non-Fatal,Substantial,NaN,N301AF,Air Tractor,AT-301,No,1,Reciprocating,NaN,NaN,Aerial Application,NaN,<NA>,<NA>,<NA>,1,VMC,Maneuvering,Probable Cause,2004-03-30,2004,March
10980,20001214X35887,Accident,DEN85LA089,1985-03-01,1985,March,"Rhode Islandchfield, Utah",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N8112R,Beech,E33-C,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,1,VMC,Approach,Probable Cause,NaT,<NA>,NaN
37668,20001207X03937,Accident,FTW95LA268,1995-07-04,1995,July,"Farkansasmichiganndianagton, New Mexico",United States,NaN,NaN,FMN,FOUR CORNERS REGIONAL,Non-Fatal,Substantial,NaN,N757VK,Cessna,152,No,1,Reciprocating,NaN,NaN,Instructional,NaN,0,0,0,1,VMC,Landing,Probable Cause,1996-09-03,1996,September
41498,20001208X07678,Accident,CHI97LA098,1997-04-02,1997,April,"Louisianafayette, Indiana",United States,NaN,NaN,LAF,LAFAYETTE PURDUE,Non-Fatal,Substantial,NaN,N6148H,Piper,PA-28-161,No,1,Reciprocating,NaN,NaN,Instructional,NaN,0,0,0,2,VMC,Landing,Probable Cause,1997-09-05,1997,September
34648,20001206X01002,Accident,SEA94LA078,1994-03-08,1994,March,"Heber City, Utah",United States,NaN,NaN,36U,HEBER VALLEY AIRPORT,Non-Fatal,Substantial,NaN,N5790S,Schweizer,2-33A,No,<NA>,Unknown,NaN,NaN,Instructional,NaN,0,0,0,2,VMC,Takeoff,Probable Cause,1994-12-02,1994,December
62851,20070711X00909,Accident,CHI07LA191,2007-07-04,2007,July,"Johionson, Nebraska",United States,40.399166,-96.171389,NaN,NaN,Fatal(1),Substantial,NaN,N3737A,Piper,PA-22-135,No,1,Reciprocating,NaN,NaN,Ferry,NaN,1,<NA>,<NA>,<NA>,VMC,Maneuvering,Probable Cause,2008-03-31,2008,March
44291,20001211X10674,Accident,NYC98LA140,1998-07-02,1998,July,"Massachusettshopennsylvaniac, New York",United States,NaN,NaN,N77,MAHOPAC,Non-Fatal,Substantial,NaN,NONE,Fithian,FALCON XP,Yes,1,Reciprocating,NaN,NaN,Instructional,NaN,0,1,1,0,VMC,Climb,Probable Cause,1999-08-27,1999,August
32477,20001211X12221,Accident,NYC93LA074A,1993-04-07,1993,April,"Pennsylvaniawtucket, Rhode Island",United States,NaN,NaN,SFZ,NORTH CENTRAL STATE,Non-Fatal,Minor,NaN,N3866R,Piper,PA-28-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,3,VMC,Landing,Probable Cause,1994-06-30,1994,June
60283,20060407X00407,Accident,SEA06CA061,2006-03-05,2006,March,"Saindianat Pennsylvaniaul, Oregon",United States,45.222223,-123.05,NaN,NaN,Non-Fatal,Substantial,Airplane,N1991A,Piper,PA-18,No,1,Reciprocating,Part 91: General Aviation,NaN,Personal,NaN,<NA>,<NA>,<NA>,2,VMC,Approach,Probable Cause,2006-06-28,2006,June

In [93]:
aviation_data_df['location'].isna().sum()

52

In [94]:
# Function to change longitude and latitude to float type
def dms_to_dd(dms_str):
    if pd.isna(dms_str):
        return np.nan
    
    # Regular expression to extract degrees, minutes, and seconds
    dms_pattern = re.compile(r'(\d{2,3})(\d{2})(\d{2})([NSEW])')
    match = dms_pattern.match(dms_str)
    if not match:
        return np.nan
    
    degrees, minutes, seconds, direction = match.groups()
   
    dd = float(degrees) + float(minutes)/60 + float(seconds)/3600
    
    if direction in ['S', 'W']:
        dd *= -1
    
    return dd

In [95]:

aviation_data_df['latitude'] = aviation_data_df['latitude'].apply(lambda x: dms_to_dd(x) if isinstance(x, str) and re.match(r'\d{6}[NSEW]', x) else pd.to_numeric(x, errors='coerce'))
aviation_data_df['longitude'] = aviation_data_df['longitude'].apply(lambda x: dms_to_dd(x) if isinstance(x, str) and re.match(r'\d{7}[NSEW]', x) else pd.to_numeric(x, errors='coerce'))

In [96]:
aviation_data_df[['latitude','longitude']].sample(20)

        latitude   longitude
34813        NaN         NaN
8209         NaN         NaN
62854  38.256111 -119.223334
935          NaN         NaN
61898  -3.916667  118.216667
19316        NaN         NaN
1189         NaN         NaN
3126         NaN         NaN
59372  33.171945  -97.823611
33292        NaN         NaN
12410        NaN         NaN
33364        NaN         NaN
77629  33.964167 -112.809444
70858  27.906111   -8.405000
2693         NaN         NaN
21307        NaN         NaN
51062        NaN         NaN
2594         NaN         NaN
26080        NaN         NaN
86044        NaN         NaN

In [97]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   event_year              88889 non-null  int64
 5   event_month             88889 non-null  object
 6   location                88837 non-null  object
 7   country                 88663 non-null  object
 8   latitude                34382 non-null  float64
 9   longitude               34373 non-null  float64
 10  airport_code            50249 non-null  object
 11  airport_name            52790 non-null  object
 12  injury_severity         87889 non-null  object
 13  aircraft_damage         85695 non-null  object
 14  aircraft_category       32287 non-null  object
 15  registration_number     87572 non-null  object
 16  make                    88826 non-null  object
 17  model                   88797 non-null  object
 18  amateur_built           88787 non-null  object
 19  number_of_engines       82805 non-null  Int32
 20  engine_type             81812 non-null  object
 21  far_description         32023 non-null  object
 22  schedule                12582 non-null  object
 23  purpose_of_flight       82697 non-null  object
 24  air_carrier             16648 non-null  object
 25  total_fatal_injuries    77488 non-null  Int32
 26  total_serious_injuries  76379 non-null  Int32
 27  total_minor_injuries    76956 non-null  Int32
 28  total_uninjured         82977 non-null  Int32
 29  weather_condition       84397 non-null  object
 30  broad_phase_of_flight   61724 non-null  object
 31  report_status           82508 non-null  object
 32  publication_date        75118 non-null  datetime64[ns]
 33  publication_year        75118 non-null  Int64
 34  publication_month       75118 non-null  object
dtypes: Int32(5), Int64(1), datetime64[ns](2), float64(2), int64(1), object(24)
memory usage: 22.5+ MB