# Business Understanding
## Overview of the business
A company that is seeking to expand into the aviation industry and wants buy aircrafts for its new division

## Business Problem

Being new in the aviation industry the company is unaware of the potential risks that are associated with aircrafts 

## Business Objectives
The company wants to understand the potential risks it may face in the aviation industry
The company wants to obtain a list of recommended aircrafts that are considered to have low risks in regards to its operational use

## Success Criteria
To obtain a list of aircrafts that are considered to have low risks

To outline the potential risks the company may experience in the aviation industry

To produce relevant visualisations that provide insights on aircraft and the aviation industry

## Project plan

To go through a dataset that contains accidents that have occurred in the aviation industry and to obtain relevant insights that can be able to solve the business problem

# Familization with the dataset

In [60]:
# Importing the pandas and matplotlib libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
pd.options.display.max_columns = None

Loading the dataset to be used

In [62]:
aviation_data_df = pd.read_csv("data/AviationData.csv", encoding='latin-1', dtype='str')

In [63]:
usstate_codes_df = pd.read_csv("data/USState_Codes.csv")

Checking the head, tail and a sample of the dataset so to get an understanding of the dataset we are working with

In [64]:
aviation_data_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1,2,NaN,0,VMC,Approach,Probable Cause,16-04-1980

In [65]:
aviation_data_df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N1867H,PIPER,PA-28-151,No,NaN,NaN,091,NaN,Personal,NaN,0,1,0,0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1,NaN,091,NaN,Personal,NaN,0,0,0,1,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N210CU,CESSNA,210N,No,NaN,NaN,091,NaN,Personal,MC CESSNA 210N LLC,0,0,0,0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N9026P,PIPER,PA-24-260,No,NaN,NaN,091,NaN,Personal,NaN,0,1,0,1,NaN,NaN,NaN,30-12-2022

In [66]:
aviation_data_df.sample(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
54235,20030310X00305,Accident,NYC03FA061,2003-03-02,"MONTEREY, MA",United States,42.210556,-73.262222,NaN,NaN,Fatal(4),Substantial,NaN,N4072R,Piper,PA-32-300,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,3,NaN,NaN,IMC,Cruise,Probable Cause,03-12-2004
11992,20001214X36805,Accident,LAX85FA286,1985-06-19,"SQUAW VALLEY, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N214RM,Bell,214B-1,No,1,Turbo Shaft,NaN,UNK,Business,NaN,2,0,0,0,VMC,Maneuvering,Probable Cause,NaN
87959,20220616105269,Accident,ERA22LA269,2022-06-11,"Butler, PA",United States,404636N,0079574W,BTP,PITTSBURGH/BUTLER RGNL,Non-Fatal,Substantial,Helicopter,N688G,WALTER S JOHNSON III,AR-1,No,1,Reciprocating,091,NaN,Personal,BEIGHEY MARK W,0,0,0,2,VMC,NaN,The pilots failure to monitor rotor disk spee...,01-11-2022
10194,20001214X41491,Accident,ANC85LA019,1984-11-01,"ANCHORAGE, AK",United States,NaN,NaN,MRI,MERRILL,Non-Fatal,Substantial,NaN,N5450E,Helio,H-250,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,5,VMC,Takeoff,Probable Cause,NaN
15062,20001213X33929,Accident,LAX86LA270,1986-06-22,"AGUANGA, CA",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N3885A,Schweizer,SGS 1-26C,No,0,Unknown,NaN,NaN,Personal,NaN,0,1,0,0,VMC,Landing,Probable Cause,NaN
57330,20040831X01336,Accident,SEA04MA167,2004-08-21,"Battle Mountain, NV",United States,40.4525,-117.491944,NaN,NaN,Fatal(5),Destroyed,NaN,N2YN,Bell,407,No,1,Turbo Shaft,NaN,NSCH,NaN,"Jeflyn Aviation, Inc (dba: Access Air)",5,NaN,NaN,NaN,VMC,Cruise,Probable Cause,26-01-2006
40851,20001208X07047,Accident,IAD97LA015,1996-11-04,"UNION VALE, NY",United States,NaN,NaN,44N,SKY ACRES,Non-Fatal,Substantial,NaN,N3903C,Ayres,SCORPION EXECUTIVE,Yes,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,1,VMC,Maneuvering,Probable Cause,15-04-1998
76661,20150526X41555,Accident,GAA15CA088,2015-05-23,"Sussex, NJ",United States,041122N,0743722W,FWN,SUSSEX,Non-Fatal,Substantial,Airplane,N9959V,CESSNA,172M,No,1,Reciprocating,091,NaN,Personal,David Von Bing,0,1,0,0,VMC,NaN,The pilot's failure to remove the gust lock du...,25-09-2020
38322,20001207X04459,Accident,CHI95LA321,1995-09-13,"BOYNE FALLS, MI",United States,NaN,NaN,BFA,BOYNE MOUNTAIN,Non-Fatal,Substantial,NaN,N76919,Cessna,140,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,1,0,VMC,Landing,Probable Cause,21-03-1996
74518,20131122X05100,Incident,DCA14IA016,2013-11-22,"Wichita, KS",United States,374451N,0971316W,AAO,Colonel James Jabara Airport,Non-Fatal,NaN,Airplane,N780BA,BOEING,747 - 409LCF,No,4,Turbo Jet,121,NSCH,NaN,"Atlas Air , Inc.",0,0,0,2,VMC,NaN,the flight crew's failure to properly identify...,25-09-2020

In [67]:
aviation_data_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [68]:
aviation_data_df.shape

(88889, 31)

In [69]:
len(aviation_data_df.columns)

31

In [70]:
usstate_codes_df.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [71]:
usstate_codes_df.tail()

          US_State Abbreviation
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO
61   Pacific ocean           PO

In [72]:
usstate_codes_df.shape

(62, 2)

In [73]:
usstate_codes_df.columns

Index(['US_State', 'Abbreviation'], dtype='object')

# DATA UNDERSTANDING



The data folder contains two data sets

## Aviation dataset
This dataset contains data of reported aviation accidents and information regarding the accident reported.

The dataset contains 31 columns with each column containing information on the accident reported.

Some of the columns in the dataset include:date of the accident, the severity of the accident, country where the accident occurred, aircraft damage, aircraft type and model etc

The dataset contains 88889 records

## US State Codes dataset
This dataset contains information on the full name of abbreviated us state codes

The dataset contains two columns i.e the US state and its abbrevaiation

The dataset contains 62 records

# Data cleaning

## Aviation Dataset

In [74]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  object
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  object
 24  Total.Serious.Injuries  76379 non-null  object
 25  Total.Minor.Injuries    76956 non-null  object
 26  Total.Uninjured         82977 non-null  object
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: object(31)
memory usage: 21.0+ MB

Using pd.info we can observe the following

a) every column contain string values

b)They are columns with null values

c)Columns names contain different structures and need to be standardized

### Converting column names to a simple standardized form

a)column names to be converted to lower case

b)column names to be seperated by underscore

In [75]:
#converting the columns into lower case
aviation_data_df.columns=aviation_data_df.columns.str.lower()

In [76]:
#seperating column names with an underscore rather than with a period

aviation_data_df.columns=aviation_data_df.columns.str.replace('.','_')

aviation_data_df.columns

Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

In [77]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1,2,NaN,0,VMC,Approach,Probable Cause,16-04-1980

### Converting columns that contain string values to respective dtypes

This columns were all converted to string values while reading the csv so to clear error generated.Therefore we need to go through each column and with intuition convert some of the columns back to their original data type

In [78]:
aviation_data_df.sample(10)

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
23935,20001213X29455,Accident,MKC89FA194,1989-09-02,"LEES SUMMIT, MO",United States,NaN,NaN,K84,LEES SUMMIT,Non-Fatal,Destroyed,NaN,N8705Z,Cessna,206A,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,1,0,0,VMC,Takeoff,Probable Cause,30-09-1991
3737,20001214X42083,Accident,NYC83LA055,1983-01-21,"MERIDEN, CT",United States,NaN,NaN,MMK,MERIDEN/MARKHAM,Non-Fatal,Substantial,NaN,N67897,Cessna,152,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,1,VMC,Landing,Probable Cause,NaN
23181,20001213X28532,Accident,CHI89LA107,1989-06-11,"NEW ERA, MI",United States,NaN,NaN,PVT,LANKFER'S,Non-Fatal,Substantial,NaN,N35561,Cessna,172I,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,3,0,0,VMC,Landing,Probable Cause,11-07-1990
1516,20020917X02838,Accident,ATL82FA161,1982-06-11,"HAZARD, KY",United States,NaN,NaN,137,HAZARD,Non-Fatal,Destroyed,Helicopter,N5781Z,Aerospatiale,AS350D,No,1,Turbo Shaft,Part 135: Air Taxi & Commuter,NSCH,Unknown,"Kentucky Helicopters, Inc.",0,1,2,1,VMC,Maneuvering,Probable Cause,11-06-1983
11314,20001214X36080,Incident,ATL85IA132,1985-04-12,"MARION, AL",United States,NaN,NaN,A09,PERRY COUNTY,Incident,Minor,NaN,N46PC,Piper,PA-32R-300,No,1,Reciprocating,NaN,NSCH,Unknown,NaN,0,0,0,1,VMC,Cruise,Probable Cause,NaN
69604,20110306X84105,Accident,CEN11CA213,2011-03-01,"Glenwood Springs, CO",United States,393022N,1071832W,GWS,Glenwood Springs Municipal,Non-Fatal,Substantial,Helicopter,N74816,ROBINSON HELICOPTER COMPANY,R44 II,No,1,Reciprocating,091,NaN,Personal,244 Charlie Delta LLC,0,0,0,1,VMC,NaN,"The pilots improper takeoff procedure, which ...",25-09-2020
41751,20001208X07868,Accident,CHI97LA125,1997-05-10,"DICKINSON, ND",United States,NaN,NaN,DIK,DICKINSON MUNICIPAL,Non-Fatal,Substantial,NaN,N280TC,Piper,PA-28-140,No,1,Reciprocating,NaN,NaN,Instructional,NaN,0,0,0,1,VMC,Landing,Probable Cause,05-09-1997
6582,20001214X44935,Accident,NYC84FFJ02,1983-10-16,"WILLIAMSON, NY",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N82526,Piper,PA-25-235,No,1,Reciprocating,NaN,UNK,Aerial Application,NaN,0,0,0,1,VMC,Maneuvering,Probable Cause,NaN
5137,20001214X43482,Accident,NYC83FA148,1983-06-22,"GREAT BEND, PA",United States,NaN,NaN,NaN,KIRKWOOD,Fatal(2),Destroyed,NaN,N2293Y,Cessna,177,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,VMC,Takeoff,Probable Cause,NaN
39218,20001208X05377,Accident,CHI96LA105,1996-03-12,"CAMP LAKE, WI",United States,NaN,NaN,49C,CAMP LAKE,Non-Fatal,Substantial,NaN,N2966U,Cessna,172,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,1,0,0,VMC,Maneuvering,Probable Cause,29-05-1996

#### number_of_engines,total_fatal_injuries,total_minor_injuries,total_serious_injuries and total_uninjured to interger values
Taking a sample of the dataset we can safely deduce that the following columns originally contained interger values

number_of_engines,total_fatal_injuries,total_minor_injuries,total_serious_injuries and total_uninjured

In [79]:
#We first convert the columns above to numeric
aviation_data_df['number_of_engines'] = pd.to_numeric(aviation_data_df['number_of_engines'],errors= 'coerce')
aviation_data_df['total_fatal_injuries'] = pd.to_numeric(aviation_data_df['total_fatal_injuries'], errors = 'coerce')
aviation_data_df['total_serious_injuries'] = pd.to_numeric(aviation_data_df['total_serious_injuries'], errors = 'coerce')
aviation_data_df['total_minor_injuries'] = pd.to_numeric(aviation_data_df['total_minor_injuries'], errors = 'coerce')
aviation_data_df['total_uninjured'] = pd.to_numeric(aviation_data_df['total_uninjured'], errors = 'coerce')

In [80]:

aviation_data_df[['number_of_engines','total_fatal_injuries','total_serious_injuries','total_minor_injuries','total_uninjured']]=aviation_data_df[['number_of_engines','total_fatal_injuries','total_serious_injuries','total_minor_injuries','total_uninjured']].astype('Int32')

In [81]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  object
dtypes: Int32(5), object(26)
memory usage: 19.8+ MB

In [82]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,<NA>,<NA>,<NA>,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,<NA>,NaN,NaN,NaN,Personal,NaN,1,2,<NA>,0,VMC,Approach,Probable Cause,16-04-1980

#### converting event_date and publication_date to pandas.Datetime

In [83]:
#Converting columns that contain dates into pandas.datetime
# that is event_date and publication_date


aviation_data_df['event_date']=pd.to_datetime(aviation_data_df['event_date'],format="%Y-%m-%d" ,yearfirst= True, errors= 'coerce')

In [84]:
aviation_data_df['publication_date']=pd.to_datetime(aviation_data_df['publication_date'],format="%d-%m-%Y", yearfirst= True, errors='coerce')

In [85]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
dtypes: Int32(5), datetime64[ns](2), object(24)
memory usage: 19.8+ MB

In [86]:
aviation_data_df[['event_date','publication_date']].sample(20)

      event_date publication_date
41641 1997-04-24       1997-10-14
53038 2002-07-13       2002-12-06
10669 1985-01-10              NaT
27882 1991-05-03       1993-01-25
68290 2010-06-10       2020-09-25
12675 1985-08-16              NaT
53371 2002-08-26       2003-04-01
4080  1983-03-11              NaT
56666 2004-05-15       2006-01-31
33631 1993-08-25       1994-09-26
85519 2020-10-21       2021-08-20
55331 2003-08-19       2004-03-02
56351 2004-03-14       2004-12-28
69590 2011-02-26       2020-09-25
57087 2004-07-17       2005-07-07
69652 2011-03-12       2020-11-03
21517 1988-09-23       1989-09-25
69957 2011-05-13       2020-09-25
19242 1987-11-27       1988-12-27
29501 1991-11-25       1996-08-05

In [90]:
#It might be useful to extract the years and the months of the event_date and publication_date which can be useful when doing visualisations
aviation_data_df['event_year'] = aviation_data_df['event_date'].dt.year
aviation_data_df['event_month'] = aviation_data_df['event_date'].dt.month_name()
aviation_data_df['publication_year'] = aviation_data_df['publication_date'].dt.year
aviation_data_df['publication_month'] = aviation_data_df['publication_date'].dt.month_name()

In [93]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,event_year,event_month,publication_year,publication_month
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaT,1948,October,NaN,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,1996-09-19,1962,July,1996.0,September
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,<NA>,<NA>,<NA>,IMC,Cruise,Probable Cause,2007-02-26,1974,August,2007.0,February
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,2000-09-12,1977,June,2000.0,September
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,<NA>,NaN,NaN,NaN,Personal,NaN,1,2,<NA>,0,VMC,Approach,Probable Cause,1980-04-16,1979,August,1980.0,April

In [92]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
 31  event_year              88889 non-null  int64
 32  event_month             88889 non-null  object
 33  publication_year        75118 non-null  float64
 34  publication_month       75118 non-null  object
dtypes: Int32(5), datetime64[ns](2), float64(1), int64(1), object(26)
memory usage: 22.5+ MB

In [94]:
#due to the null values present in the publication year we need to convert the publication year to interger

aviation_data_df['publication_year'] = aviation_data_df['publication_year'].astype('Int64')

In [98]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  Int32
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  Int32
 24  total_serious_injuries  76379 non-null  Int32
 25  total_minor_injuries    76956 non-null  Int32
 26  total_uninjured         82977 non-null  Int32
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
 31  event_year              88889 non-null  int64
 32  event_month             88889 non-null  object
 33  publication_year        75118 non-null  Int64
 34  publication_month       75118 non-null  object
dtypes: Int32(5), Int64(1), datetime64[ns](2), int64(1), object(26)
memory usage: 22.5+ MB

In [102]:
#Let us reorder our new created columns to be closer to their referenced column
column_names=aviation_data_df.columns.to_list()
column_names

['event_id',
 'investigation_type',
 'accident_number',
 'event_date',
 'location',
 'country',
 'latitude',
 'longitude',
 'airport_code',
 'airport_name',
 'injury_severity',
 'aircraft_damage',
 'aircraft_category',
 'registration_number',
 'make',
 'model',
 'amateur_built',
 'number_of_engines',
 'engine_type',
 'far_description',
 'schedule',
 'purpose_of_flight',
 'air_carrier',
 'total_fatal_injuries',
 'total_serious_injuries',
 'total_minor_injuries',
 'total_uninjured',
 'weather_condition',
 'broad_phase_of_flight',
 'report_status',
 'publication_date',
 'event_year',
 'event_month',
 'publication_year',
 'publication_month']

In [104]:
reorderd_columns=['event_id',
 'investigation_type',
 'accident_number',
 'event_date',
 'event_year',
 'event_month',
 'location',
 'country',
 'latitude',
 'longitude',
 'airport_code',
 'airport_name',
 'injury_severity',
 'aircraft_damage',
 'aircraft_category',
 'registration_number',
 'make',
 'model',
 'amateur_built',
 'number_of_engines',
 'engine_type',
 'far_description',
 'schedule',
 'purpose_of_flight',
 'air_carrier',
 'total_fatal_injuries',
 'total_serious_injuries',
 'total_minor_injuries',
 'total_uninjured',
 'weather_condition',
 'broad_phase_of_flight',
 'report_status',
 'publication_date',
 'publication_year',
 'publication_month']

In [105]:
aviation_data_df=aviation_data_df[reorderd_columns]

In [106]:
aviation_data_df.head()

,event_id,investigation_type,accident_number,event_date,event_year,event_month,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,publication_year,publication_month
0,20001218X45444,Accident,SEA87LA080,1948-10-24,1948,October,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaT,<NA>,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,1962,July,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,1996-09-19,1996,September
2,20061025X01555,Accident,NYC07LA005,1974-08-30,1974,August,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,<NA>,<NA>,<NA>,IMC,Cruise,Probable Cause,2007-02-26,2007,February
3,20001218X45448,Accident,LAX96LA321,1977-06-19,1977,June,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,2000-09-12,2000,September
4,20041105X01764,Accident,CHI79FA064,1979-08-02,1979,August,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,<NA>,NaN,NaN,NaN,Personal,NaN,1,2,<NA>,0,VMC,Approach,Probable Cause,1980-04-16,1980,April

#### Latitudes and longitude

In [115]:
#Let us check the percentage of null values in the latitude and longitude
aviation_data_df.isnull().mean()

event_id                  0.000000
investigation_type        0.000000
accident_number           0.000000
event_date                0.000000
event_year                0.000000
event_month               0.000000
location                  0.000585
country                   0.002542
latitude                  0.613203
longitude                 0.613304
airport_code              0.434699
airport_name              0.406113
injury_severity           0.011250
aircraft_damage           0.035932
aircraft_category         0.636772
registration_number       0.014816
make                      0.000709
model                     0.001035
amateur_built             0.001147
number_of_engines         0.068445
engine_type               0.079616
far_description           0.639742
schedule                  0.858453
purpose_of_flight         0.069660
air_carrier               0.812710
total_fatal_injuries      0.128261
total_serious_injuries    0.140737
total_minor_injuries      0.134246
total_uninjured           0.066510
weather_condition         0.050535
broad_phase_of_flight     0.305606
report_status             0.071786
publication_date          0.154924
publication_year          0.154924
publication_month         0.154924
dtype: float64

In [119]:
aviation_data_df[['location','country','latitude','longitude']].sample(30)

                   location        country   latitude    longitude
58194           KOYUKUK, AK  United States  65.306667  -157.663611
81666             Kanab, UT  United States    037038N     1123153W
24325       PORT HEIDEN, AK  United States        NaN          NaN
745                NAPA, CA  United States        NaN          NaN
35178          ALVARADO, TX  United States        NaN          NaN
58594         SNOHOMISH, WA  United States  47.863889  -122.068056
44120              EDNA, TX  United States        NaN          NaN
6979        KANSAS CITY, KS  United States        NaN          NaN
61059         Hillsboro, OR  United States  45.540277  -122.949722
66240          New York, NY  United States    404457N     0735958W
40403      EDEN PRAIRIE, MN  United States        NaN          NaN
42901   NORTH LAS VEGAS, NV  United States        NaN          NaN
66417  Porto Segura, Brazil         Brazil    163227S     0039628W
30056          BARNWELL, SC  United States        NaN          NaN
73513   Osaka, Japan, Japan          Japan        NaN          NaN
49523        INDIANTOWN, FL  United States        NaN          NaN
45520     CREAL SPRINGS, IL  United States        NaN          NaN
47215            CONROE, TX  United States        NaN          NaN
61135            HARMON, IL  United States  41.758056     -89.5825
58609           Rome, Italy          Italy        NaN          NaN
57722           ABILENE, TX  United States  32.411111   -99.681667
41957     DAYTONA BEACH, FL  United States        NaN          NaN
71153          McKinney, TX  United States    331230N     0964430W
45098        BAINBRIDGE, GA  United States        NaN          NaN
38169            JUNEAU, AK  United States        NaN          NaN
88482           Ivanhoe, NC  United States    034354N     0781431W
81918            Dayton, OH  United States    393520N     0841329W
24192       KING SALMON, AK  United States        NaN          NaN
45511        YOUNGSTOWN, OH  United States        NaN          NaN
65039          Cheyenne, WY  United States    004190N     0104490W