# Business Understanding
## Overview of the business
A company that is seeking to expand into the aviation industry and wants buy aircrafts for its new division

## Business Problem

Being new in the aviation industry the company is unaware of the potential risks that are associated with aircrafts 

## Business Objectives
The company wants to understand the potential risks it may face in the aviation industry
The company wants to obtain a list of recommended aircrafts that are considered to have low risks in regards to its operational use

## Success Criteria
To obtain a list of aircrafts that are considered to have low risks

To outline the potential risks the company may experience in the aviation industry

To produce relevant visualisations that provide insights on aircraft and the aviation industry

## Project plan

To go through a dataset that contains accidents that have occurred in the aviation industry and to obtain relevant insights that can be able to solve the business problem

# Familization with the dataset

In [2]:
# Importing the pandas and matplotlib libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
pd.options.display.max_columns = None

Loading the dataset to be used

In [4]:
aviation_data_df = pd.read_csv("data/AviationData.csv", encoding='latin-1', dtype='str')

In [5]:
usstate_codes_df = pd.read_csv("data/USState_Codes.csv")

Checking the head, tail and a sample of the dataset so to get an understanding of the dataset we are working with

In [6]:
aviation_data_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1,Reciprocating,NaN,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1,Reciprocating,NaN,NaN,Personal,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1,Reciprocating,NaN,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1,2,NaN,0,VMC,Approach,Probable Cause,16-04-1980

In [7]:
aviation_data_df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N1867H,PIPER,PA-28-151,No,NaN,NaN,091,NaN,Personal,NaN,0,1,0,0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1,NaN,091,NaN,Personal,NaN,0,0,0,1,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N210CU,CESSNA,210N,No,NaN,NaN,091,NaN,Personal,MC CESSNA 210N LLC,0,0,0,0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N9026P,PIPER,PA-24-260,No,NaN,NaN,091,NaN,Personal,NaN,0,1,0,1,NaN,NaN,NaN,30-12-2022

In [8]:
aviation_data_df.sample(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
25991,20001212X23635,Accident,CHI90LA169,1990-07-08,"AURORA, IL",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N33332,Piper,PA28-151,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,3,VMC,Descent,Probable Cause,28-09-1992
27670,20001212X16594,Accident,DEN91LA058,1991-03-31,"LA JUNTA, CO",United States,NaN,NaN,LHX,LA JUNTA MUNICIPAL,Non-Fatal,Substantial,NaN,N6904X,Cessna,172B,No,1,Reciprocating,NaN,NaN,Instructional,NaN,0,0,1,0,VMC,Go-around,Probable Cause,31-03-1993
74169,20130904X10408,Incident,ENG13IA036,2013-08-31,"Aguadilla, PR",United States,182941N,0067746W,BQN,RAFAEL HERNANDEZ,NaN,Minor,Airplane,PH-MCW,"BOEING COMPANY, LONG BEACH DIV",BOEING MD-11,No,NaN,Turbo Fan,129,SCHD,NaN,Martinair Holland N.V.,0,0,0,0,Unk,NaN,an insufficiently robust flange attachment har...,25-09-2020
70946,20130620X30633,Accident,CEN12WA686,2011-10-14,"Petit-Beauregard, Eswatini",Eswatini,465234N,0006355E,NaN,NaN,Fatal,Destroyed,Airplane,G-BBEF,PIPER,PA-28-140,No,NaN,Reciprocating,NUSN,NaN,Personal,FLYBPL.COM,2,0,0,0,VMC,NaN,NaN,03-11-2020
49035,20001212X21701,Accident,DCA00MA079,2000-08-08,"GREENSBORO, NC",United States,NaN,NaN,GSO,PIEDMONT TRIAD INTERNATIONAL,Non-Fatal,Substantial,NaN,N838AT,Douglas,DC-9-32,No,2,Turbo Jet,NaN,SCHD,Unknown,Airtran Airlines Inc,NaN,NaN,13,50,VMC,Takeoff,Probable Cause,08-05-2003
46543,20001212X19148,Accident,ANC99TA090,1999-07-08,"DEADHORSE, AK",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,NaN,N47122,Bell,206B,No,1,Turbo Shaft,NaN,NSCH,Unknown,U.s. Bureau Of Land Management,0,0,0,4,VMC,Standing,Probable Cause,30-11-2000
73852,20130707X93328,Accident,WPR13LA313,2013-07-07,"Parker Dam, CA",United States,341457N,1141016W,NaN,NaN,Fatal,Substantial,Weight-Shift,N467YN,NORTH WING UUM INC.,SPORT X2,No,1,Reciprocating,091,NaN,Personal,Jeffrey O. Bline,1,0,0,0,VMC,NaN,The student pilots abrupt maneuver to avoid t...,25-09-2020
66653,20090630X85256,Accident,CEN09LA396,2009-06-29,"Shelbyville, IN",United States,039468N,0085502W,NaN,NaN,Non-Fatal,Substantial,Airplane,N9085L,CHAMPION,7GCAA,No,1,Reciprocating,091,NaN,Instructional,NaN,0,0,0,2,VMC,NaN,The partial loss of engine power due to the fa...,25-09-2020
82926,20190311X61805,Accident,DCA19CA105,2019-03-11,"Atlanta, GA",United States,333825N,0842539W,KATL,Hartsfield-Jackson Atlanta Int,Non-Fatal,Minor,Airplane,N3756,Boeing,737,No,2,NaN,121,SCHD,NaN,Delta Air Lines,0,0,0,406,VMC,NaN,NaN,13-12-2021
13771,20010110X00238,Accident,MKC86LA050,1986-01-12,"DES MOINES, IA",United States,NaN,NaN,DSM,DES MOINES MUNI,Non-Fatal,Substantial,NaN,N8036B,Cessna,172,No,1,Reciprocating,NaN,NaN,Personal,NaN,0,0,0,2,VMC,Taxi,Probable Cause,NaN

In [9]:
aviation_data_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [14]:
aviation_data_df.shape

(88889, 31)

In [10]:
len(aviation_data_df.columns)

31

In [11]:
usstate_codes_df.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [12]:
usstate_codes_df.tail()

          US_State Abbreviation
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO
61   Pacific ocean           PO

In [16]:
usstate_codes_df.shape

(62, 2)

In [13]:
usstate_codes_df.columns

Index(['US_State', 'Abbreviation'], dtype='object')

# DATA UNDERSTANDING



The data folder contains two data sets

## Aviation dataset
This dataset contains data of reported aviation accidents and information regarding the accident reported.

The dataset contains 31 columns with each column containing information on the accident reported.

Some of the columns in the dataset include:date of the accident, the severity of the accident, country where the accident occurred, aircraft damage, aircraft type and model etc

The dataset contains 88889 records

## US State Codes dataset
This dataset contains information on the full name of abbreviated us state codes

The dataset contains two columns i.e the US state and its abbrevaiation

The dataset contains 62 records

# Data cleaning

## Aviation Dataset

In [17]:
aviation_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  object
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  object
 24  Total.Serious.Injuries  76379 non-null  object
 25  Total.Minor.Injuries    76956 non-null  object
 26  Total.Uninjured         82977 non-null  object
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: object(31)
memory usage: 21.0+ MB

Using pd.info we can observe the following

a) every column contain string values

b)They are columns with null values

c)Columns names contain different structures and need to be standardized

### Converting column names to a simple standardized form

a)column names to be converted to lower case

b)column names to be seperated by underscore

In [19]:
aviation_data_df.columns.str.lower